{% extends "base.html" %}

{% block title %}User Login{% endblock title %}

{% block body %}

<h1 class="d-flex justify-content-center mt-3">Login Here</h1>

{% load crispy_forms_tags %}

<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="row-col-6">
            <form action="#" method="post">
                {% csrf_token %}
                {{form|crispy}}
                <p>Don't have an accornt? Create one <a href="/register">here</a></p>

                <input type="submit" value="Login" name="login" class="btn btn-success mb-3">
            </form>
        </div>
    </div>
</div>

{% endblock body %}